name: Nightly Build
on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  nightly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      
      - name: Build
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -o husk src/main.go
      
      - name: Update Nightly Release
        uses: andymckay/append-release-body@v1
        with:
          tag_name: nightly
          # This action requires a "nightly" tag to exist first.
          # You might need to create a release named "nightly" manually once.