name: Build on Push

# Run on every push to the main branch
on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build Binary
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-s -w" -o husk main.go

      - name: Publish to "nightly" tag
        uses: softprops/action-gh-release@v1
        with:
          tag_name: nightly
          name: Bleeding Edge (Nightly)
          files: husk
          prerelease: true
          # This forces the "nightly" tag to move to the latest commit
          target_commitish: main